@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@theme {
  --color-brand-blue: #2563eb;
  --color-brand-blue-hover: #1d4ed8;
  --color-brand-blue-support: #1e3a8a;
  --color-brand-blue-light: #dbeafe;
  --color-brand-bg: #f8fafc;
  --color-brand-card: #ffffff;
  --color-brand-border: #e2e8f0;
  --color-brand-text-main: #0f172a;
  --color-brand-text-sec: #64748b;
  --color-brand-green: #10b981;
  --color-brand-green-hover: #059669;
  --color-brand-danger: #ef4444;
  --color-brand-warning: #f59e0b;
  --color-brand-info: #3b82f6;
}
